{% extends "frame.html" %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<h1>Online-Rechner</h1>

<form method="post">
    <input type="number" name="zahl1" required><br>
    <select id="operation" name="operation">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select><br>
    <input type="number" name="zahl2" required><br>
    <button class="button" style="vertical-align:middle"><span>Ergebnis! </span></button>
</form>
{% if result is not none %}
        <h4>Das Ergebnis ist: {{ result }}</h4>
    {% endif %}
{% endblock content %}
