{% extends "frame.html" %}

{% block title %}
    About Me
{% endblock title %}

{% block content %}
<h1 class="name">Ekatharina Strohmayer</h1>
            <h3>(絵語奈)</h3>
            <img src="/assets/img/ekat.jpg" class="me">
            <br>

<div id="content">

        <h1>Hallo und herzlich Willkommen!</h1>
        <p>Schön, dass du es auf meine Seite geschafft hast! <br/>
            Keine Ahnung, wie es dich hierher verschlagen hat?<br/>
            Auch kein Problem - nimm dir ein bisschen Zeit und sieh dich ein wenig um.</p>
        <p>Auf den nachfolgen Seiten findest du einige Informationen
            zu mir und meinem Leben. <br/>
            Ich hoffe dir gefällt dieses Fakebook ;)
        </p>


        <h2>About Me</h2>
        <p>Hi!<br>
            Mein Name ist Ekatharina und ich bin eine gebürtige Wienerin mit Migrationshintergrund - also "a echta
            Weana".<br>
            Typisches Kind der 80er/90er mit einer Vorliebe für Asien, insbesondere Japan, Literatur, Kulinarik,
            Sprachen und ... Katzen!</p>


        <h2>Hobbies</h2>
        <p>Zu meinen Hobbies zählen viele unterschiedliche Sachen, da ich ein Mensch mit vielen unterschiedlichen
            Interessen bin. <br>
            Mein Herz schlägt aber besonders für die folgenden Dinge: <br>
        <ul style="list-style-position: inside; list-style-type: square;">
            <li>Kochen</li>
            <li>Lesen</li>
            <li>Musik</li>
            <li>Reisen</li>
            <li>Lernen/Fortbildung</li>
            <li>Katzen</li>
            <li>Technik</li>
        </ul>
        </p>



        <h2>Reisen</h2>
        <p>Es gibt kaum etwas Schöneres als zu Reisen!<br>
        Die Welt ist wirklich groß und unendlich, es gibt vieles zu entdecken, spannendes zu erleben.<br>
        Leider - oder seltsamerweise - verschlägt es mich zu 90% nur nach Japan ... allerdings entdecke ich trotzdem
        jedes Mal etwas Neues und mir wird nie langweilig. Außerdem kann ich auch meine Sprachkenntnisse vertiefen
        und mich mit neuen Romanen, Manga und Goodies zu meinen Lieblingsserien eindecken.<br></p>


        <h2>Katzen</h2>
        <p>Ich glaube, man merkt, dass ich ein Katzenmensch bin? <br>
        Es gibt für mich tatsächlich kaum etwas Beruhigenderes als eine Katze in meiner Nähe zu haben. Speziell
        wenn es mir nich gut geht und ich etwas Aufmunterung gebrauchen kann. Leider sind meine beiden Katzen schon
        verstorben, aber ich hoffe, bald wieder welche zu bekommen. Dazu muss allerings erst meine Wohnung fertig
        renoviert werden ...</p>


        <h2>Bücher</h2>
        <p>Bücher sind eine andere Art des Reisens!<br>
        Die Sinne schärfend und Kreativität fördernd, waren sie immer eine Art stiller Freund für mich, an den ich
        mich wenden konnte, wenn ich sonst niemanden hatte. Wahrscheinlich habe ich deswegen auch eine Art Tick mit
        dem Umgang von Büchern entwickelt - ich hasse nichts mehr, als etwas in ein Buch zu schreiben!</p>


        <h2>Kontakt</h2>
        <p>Lust auf mehr Infos?<br>
        Ich bin auf LinkedIn und Facebook zu finden. Außerdem auch auf Twitter und Instagram ;)</p>
    </div>

            <div class="nope">
                <img src="/assets/img/coons.jpg" class="nope gatse">
            </div>
{% endblock content %}
